* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
html {
  background-color: #788b9c;
}

input {
  font-size: 25px;
}

input:focus {
  outline: none;
}
.centered-elements {
  margin: 20px;
}

#vocab-search-bar {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

#main-title {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

#result {
  position: absolute;
  font-size: 25px;
  top: 48%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: black;
}

#result-container {
  width: 50%;
  height: 480px;
  background: white;
  position: relative;
  top: 300px;
  left: 21px;
  border-radius: 15px;
  border: none;
}
