* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
  width: 100%;
  height: 80vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

navbar {
  width: 100%;
  height: 30px;
}

.nav-element {
  font-family: Roboto, sans-serif;
  position: relative;
  top: 10px;
  font-size: 30px;
  color: #3f3d56;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 0em;
  z-index: 9999;
}

header * {
  padding: 0;
  margin: 0;
}

.main-title {
  text-align: left;
  position: absolute;
  left: 20px;
  margin-top: 10px;
}

.nav-right {
  float: right;
  list-style: none;
  padding: 10px 20px 20px;
  width: auto;
  height: auto;
  margin-top: 0px;
}

.navbar-right-elements {
  margin-right: 10px;
  margin-left: 20px;
}

.nav-right-hover:hover {
  background: rgba(255, 148, 77, 0.3);
  border-radius: 7px;
  transition: 0.4s;
  cursor: pointer;
}

.nav-right-hover.opened {
  border-radius: 7px;
  transition: 0.4s;
  cursor: pointer;
  background: rgba(255, 148, 77, 0.7);
}

#color-picker:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

#color-editor {
  position: fixed;
  right: 10px;
  top: 90px;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  border: solid 10px white;
  background-color: white;
  color: black;
  display: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 999999;
}

input:focus {
  outline: none;
}

#code-board {
  position: absolute;
  right: 80px;
  top: 170px;
  filter: drop-shadow(0px 4px 115px rgba(0, 0, 0, 0.25));
}

#hot-balloon {
  position: absolute;
  top: -80px;
  left: 250px;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.25));
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: waving 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  bottom: 0;
}

.wave.wave2 {
  animation: waving2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -ms-animation-delay: -5s;
  -o-animation-delay: -5s;
  animation-delay: -5s;
  bottom: 10px;
}

.wave.wave3 {
  animation: waving2 5s linear infinite;
  z-index: 998;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -ms-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
  bottom: 15px;
}

.wave.wave4 {
  animation: waving2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -ms-animation-delay: -5s;
  -o-animation-delay: -5s;
  animation-delay: -5s;
  bottom: 20px;
}

@-webkit-keyframes waving {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@-o-keyframes waving {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@-moz-keyframes waving {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes waving {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes waving2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@-webkit-keyframes waving2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@-o-keyframes waving2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@-moz-keyframes waving2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

#page-title-container {
  position: absolute;
  top: 280px;
  left: 17%;
}

#title-text-container {
  margin-bottom: 80px;
  position: relative;
  right: 50px;
}

.title-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;

  color: rgba(63, 61, 86, 0.8);
}

@keyframes blinkTextCursor {
  from {
    border-right-color: orange;
  }
  to {
    border-right-color: transparent;
  }
}

#title-text-container h2 {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  letter-spacing: 0.1rem;
  border-right: 0.15em solid orange;
}

h2.text1 {
  width: 5.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end),
    blinkTextCursor 500ms steps(44) infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

h2.text2 {
  width: 6.4em;
  opacity: 0;
  -webkit-animation: type2 5s steps(30, end),
    blink 0.5s step-end infinite alternate;
  animation: type2 2s steps(30, end), blink 0.5s step-end infinite alternate,
    blinkTextCursor 500ms steps(44) infinite normal;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

#tryOutToolsButton {
  background: linear-gradient(
    270deg,
    #feae79 0%,
    rgba(255, 151, 134, 0.979681) 15.44%,
    #fcb484 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 220px;
  height: 80px;
  border: none;
  font-size: 25px;
  line-height: 41px;
  color: #ffffff;
}

#tryOutToolsButton:focus {
  outline: none;
}

#tryOutToolsButton:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#tools-tab,
#assistant-tab,
#contact-tab {
  display: none;
}

#nav-tools-searcher-container {
  position: relative;
  top: 100px;
  background: linear-gradient(to right top, #ff9966, #ffbb99);
  border-radius: 2px;
  height: 70px;
  width: 100%;
}

#tools-searcher-container {
  position: absolute;
  right: 0;
}

#tools-searcher {
  position: relative;
  bottom: 7px;
  right: 15px;
  width: auto;
  height: 41px;
  border-radius: 5px;
  background: #ffffff;
  border: none;
  padding-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tools-searcher:focus {
  outline: none;
}

.search-bar {
  position: relative;
  top: 10px;
  right: 5px;
}

.orange-underscore {
  position: absolute;
  left: 10px;
  width: 138px;
  height: 5px;
  background: #ffa64d;
  border-radius: 2px;
}

#general-tools-title {
  position: relative;
  top: 200px;
  left: 20px;
}

#general-tools-text-title {
  position: relative;
  bottom: 17px;
}

#general-tools-underscore {
  position: absolute;
  left: 1px;
}

#general-tools-container {
  position: relative;
  top: 100px;
}

.general-tool {
  z-index: 999;
  position: relative;
  top: 50px;
  padding: 0;
  margin: 20px 0 20px 0;
  display: inline;
  width: 200px;
}

.tools-icon {
  position: relative;
  bottom: 2px;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
}

.general-tool {
  display: inline;
  float: left;
  margin: 30px;
}

.tools-icon:hover {
  transition: 0.3s;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.tools-title {
  position: relative;
  top: 80px;
  right: 80px;
  display: inline;
  color: grey;
  float: left;
  margin: 0;
  padding: 0;
}

#person-on-wave {
  position: absolute;
  right: 260px;
  top: 86px;
  z-index: 9;
}

iframe {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  border-radius: 10px;
}

#calculator-window {
  width: 1000px;
}

.window-closer {
  z-index: 99999;
  position: fixed;
  left: 45px;
  top: 43px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  font-size: 20px;
}

.window-closer:hover {
  transition: 0.5s;
  background-color: #bfbfbf;
}

.window-top-left-icon {
  position: relative;
  bottom: 40px;
  right: 5px;
}

#calculator-window-closer {
  position: fixed;
  left: 20%;
  top: 43px;
}

#contact-tab-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#developers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 40px 0;
  margin-top: 0px;
}

.contact-card {
  position: relative;
  width: 370px;
  height: 490px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 50px;
}

.about-content {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.contact-card:hover .about-content {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right top, #ff9966, #ffbb99);
}

.contact-card:hover h2 {
  color: white;
}

.contact-card:hover p {
  color: white;
}

.about-content h2 {
  font-size: 1.5em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
  margin: 20px;
}

.about-content p {
  font-size: 1.2em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.about-content .github-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  background: #4dc3ff;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}

.other-links {
  color: #0075ff;
}

@media only screen and (max-width: 720px) {
  .nav-element {
    font-size: 22px;
  }
}

@media only screen and (max-width: 200px) {
  * {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .skylight-menu {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .nav-element {
    font-size: 18px;
  }
}


@media only screen and (max-width: 1200px) {
  #code-board {
    position: fixed;
    width: 700px;
    height: 360px;
    right: 40px;
  }

  #person-on-wave {
    display:none;
  }
}

@media only screen and (max-width: 647px) {
  .nav-element {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-right {
    padding: 10px 5px 10px;
  }
}

@media only screen and (max-height: 693px) {
  #wave {
    display: none;
  }
}

@media only screen and (max-width: 1640px) {
  #hot-balloon {
    display: none;
  }
}
@media only screen and (max-height: 750px) {
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: url(../img/wave.png);
    background-size: 1000px 0px;
  }
}

@media only screen and (max-width: 1570px) {
  #calculator-window-closer {
    position: fixed;
    left: 15%;
    top: 43px;
  }
}

@media only screen and (max-width: 1355px) {
  #calculator-window-closer {
    position: fixed;
    left: 10%;
    top: 43px;
  }
}

@media only screen and (max-width: 1204px) {
  #calculator-window-closer {
    position: fixed;
    left: 5%;
    top: 43px;
  }
}

@media only screen and (max-width: 1105px) {
  #code-board {display:none;}
  #title-text-container {
    left: 20%;
  }

  #tryOutToolsButton {
    position: absolute;
   left: 22%; 
  }
}


#list {
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
  z-index: 99999999999999;
}

.list-tools {
  display: list-item;
  z-index: 99999999999;
}
