* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 80vh;
}

navbar {
  width: 100%;
  height: 30px;
}

.nav-element {
  position: relative;
  top: 10px;
  font-size: 30px;
  color: #3f3d56;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 0em;
}

.main-title {
  text-align: left;
  position: absolute;
  left: 20px;
  margin-top: 10px;
}

.nav-right {
  float: right;
  list-style: none;
  padding: 10px 20px 20px;
  width: auto;
  height: auto;
  margin-top: 0px;
}

.navbar-right-elements {
  margin-right: 10px;
  margin-left: 20px;
}

.nav-right-hover:hover {
  background: rgba(255, 148, 77, 0.57);
  border-radius: 7px;
  transition: 0.4s;
  cursor: pointer;
}

#color-picker:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

#color-editor {
  position: fixed;
  right: 10px;
  top: 90px;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  border: solid 10px white;
  background-color: white;
  color: black;
  display: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

.skylight-menu {
  position: absolute;
  left: 19%;
}

.skylight {
  position: absolute;
  top: 0;
}

#skylight1 {
  position: relative;
  left: 0;
  top: 0;
  width: 118px;
}

#skylight2 {
  position: absolute;
  top: 0;
  left: 6px;
  width: 196px;
}

#skylight3 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 90px;
}

#code-board {
  position: absolute;
  right: 80px;
  top: 120px;
}

#orange-wave {
  position: absolute;
  bottom: 0;
}

#page-title-container {
  position: absolute;
  top: 300px;
  left: 300px;
}

@media only screen and (max-width: 720px) {
  .nav-element {
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .skylight-menu {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .nav-element {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1170px) {
  #code-board {
    position: absolute;
    width: 700px;
    height: 460px;
    right: 60px;
  }

  #orange-wave {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #code-board {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .nav-element {
    font-size: 13px;
  }
}

@media only screen and (max-width: 395px) {
  .nav-right {
    padding: 10px 5px 20px;
  }
}
