* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: normal; 
}

body {
    background-color: white;
}

#record-btn {
    position: absolute;
    top: 50%;
    right: 10%;
    transition: translate(-50%,-50%);
}