* {
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}

body,html {
    background-color: white;
}

canvas { 
    border: 2px solid black;
    border-radius: 20px;
    transform: translate(7px, 5px);
}